{{!-- <div class="conatiner box" id="faq">
    <h1 class="main-heading">Why Medmentorz</h1>

    <div class="tab">
    <input type="radio" name="acc" id="accl">
    <label for="accl">
      <h2>01</h2>
      <h3>Personalised Mentorship by AIIMSONIANS</h3>
    </label>
    <div class="content">
        <p>We will go through your complete journey like
            <ul>
                <li>-When you started</li>
                 <li>-What is your schedule</li>
                  <li>-Your strength/weakness</li>
                   <li>-Your target score</li>
                    <li>-Your previous mock scores</li>
                    <p>and much more</p>
            </ul>




<p>
    <br>

IN SHORT-
WE WILL TAKE COMPLETE HISTORY and then provide you the solution accordingly
<br>
<ul>
<li>One to one mentorship with NEET Toppers</li>
<li>Daily Targets along with COUNTDOWN FOR NEET</li>
</ul>
</p>
</p>
    </div>

    <div class="tab">
    <input type="radio" name="acc" id="acc2">
    <label for="acc2">
      <h2>02</h2>
      <h3>Live Session with AIIMS Toppers⚡</h3>
    </label>
    <div class="content">
        <p>Every weekend we will connect you to AIIMS toppers via video confer and you can ask whatever you want to!! </p>
    </div>


    <div class="tab">
    <input type="radio" name="acc" id="acc3">
    <label for="acc3">
      <h2>03</h2>
      <h3>Classes on -✨</h3>
    </label>
    <div class="content">
        <p>
<ul>
  <li>How to master PHYSICS</li>
  <li>How to increase calculation speed</li>
  <li>Paper Analysis</li>
  <li>Time Management</li>
  <li>How to have NCERT on your fingertips</li>
  <li>How to learn inorganic/organic/physics </li>
</ul>

        </p>
    </div>


     <div class="tab">
    <input type="radio" name="acc" id="acc4">
    <label for="acc4">
      <h2>04</h2>
      <h3>Weekly Test/Quiz- 🔥</h3>
    </label>
    <div class="content">
        <p> A weekly test of each chapter would be conducted and the study material + Notes of that chapter would be provided before hand for you to prepare
</p>
    </div>


     <div class="tab">
    <input type="radio" name="acc" id="acc5">
    <label for="acc5">
      <h2>05</h2>
      <h3>NCERT - Diagrams/Tables on your tips 🔥
</h3>
    </label>
    <div class="content">
        <p>Every weekend we will give you unlabelled NCERT diagrams and brainstorming questions related to it so that you get NCERT on you tips 🔥
</p>
    </div>


     <div class="tab">
    <input type="radio" name="acc" id="acc6">
    <label for="acc6">
      <h2>06</h2>
      <h3> Mindmaps/Short Notes of Medicos themselves ‼️</h3>
    </label>
    <div class="content">
        <p>Short Notes/Mindmaps of AIIMSONIANS amd Medicos will be provided for quick revision
</p>
    </div>

     <div class="tab">
    <input type="radio" name="acc" id="acc7">
    <label for="acc7">
      <h2>07</h2>
      <h3>Doubts + Analysis support✅
</h3>
    </label>
    <div class="content">
        <p>We would solve doubts and help you analyse your weakness and give you solutions for the same
<br>
And trust me the subscription price is nothing for an entire year
<br>
it(Yearly subscription) will cost you ~200/Month (even less than a single pizza)</p>
    </div>
</div>
</div> --}}



<div class="container .hello" id="faq">
    <h1 class="main-heading">Why Medmentorz</h1>
    <div class="tab">
      <input type="radio" name="acc" id="acc1">
      <label for="acc1">
        <h2>01</h2>
        <h3>Personalised Mentorship by AIIMSONIANS</h3>
      </label>
      <div class="content">


            <p>We will go through your complete journey like
            <ul>
                <li>-When you started</li>
                 <li>-What is your schedule</li>
                  <li>-Your strength/weakness</li>
                   <li>-Your target score</li>
                    <li>-Your previous mock scores</li>
                    <p>and much more</p>
            </ul>




<p>
    <br>

IN SHORT-
WE WILL TAKE COMPLETE HISTORY and then provide you the solution accordingly
<br>
<ul>
<li>One to one mentorship with NEET Toppers</li>
<li>Daily Targets along with COUNTDOWN FOR NEET</li>
</ul>
</p>
</p>


      </div>
    </div>


    <div class="tab">
      <input type="radio" name="acc" id="acc2">
      <label for="acc2">
        <h2>02</h2>
        <h3>Live Session with AIIMS Toppers</h3>
      </label>
      <div class="content">
 <p>We will go through your complete journey like
            <ul>
                <li>-When you started</li>
                 <li>-What is your schedule</li>
                  <li>-Your strength/weakness</li>
                   <li>-Your target score</li>
                    <li>-Your previous mock scores</li>
                    <p>and much more</p>
            </ul>




<p>
    <br>

IN SHORT-
WE WILL TAKE COMPLETE HISTORY and then provide you the solution accordingly
<br>
<ul>
<li>One to one mentorship with NEET Toppers</li>
<li>Daily Targets along with COUNTDOWN FOR NEET</li>
</ul>
</p>
</p>


      </div>
    </div>

 <div class="tab">
      <input type="radio" name="acc" id="acc3">
      <label for="acc3">
        <h2>03</h2>
        <h3>Classes on -</h3>
      </label>
      <div class="content">

    <p>
<ul>
  <li>How to master PHYSICS</li>
  <li>How to increase calculation speed</li>
  <li>Paper Analysis</li>
  <li>Time Management</li>
  <li>How to have NCERT on your fingertips</li>
  <li>How to learn inorganic/organic/physics </li>
</ul>

        </p>


      </div>
    </div>



 <div class="tab">
      <input type="radio" name="acc" id="acc4">
      <label for="acc4">
        <h2>04</h2>
        <h3>Weekly Test/Quiz- </h3>
      </label>
      <div class="content">

     <p> A weekly test of each chapter would be conducted and the study material + Notes of that chapter would be provided before hand for you to prepare
</p>


      </div>
    </div>


<div class="tab">
      <input type="radio" name="acc" id="acc5">
      <label for="acc5">
        <h2>05</h2>
        <h3>NCERT - Diagrams/Tables on your tips </h3>
      </label>
      <div class="content">
    <p>Every weekend we will give you unlabelled NCERT diagrams and brainstorming questions related to it so that you get NCERT on you tips 
</p>


      </div>
    </div>



<div class="tab">
      <input type="radio" name="acc" id="acc6">
      <label for="acc6">
        <h2>06</h2>
        <h3>Mindmaps/Short Notes of Medicos themselves </h3>
      </label>
      <div class="content">

    <p>Short Notes/Mindmaps of AIIMSONIANS amd Medicos will be provided for quick revision
</p>


      </div>
    </div>



<div class="tab">
      <input type="radio" name="acc" id="acc7">
      <label for="acc7">
        <h2>07</h2>
        <h3>Doubts + Analysis support</h3>
      </label>
      <div class="content">
 <p>We would solve doubts and help you analyse your weakness and give you solutions for the same
<br>
And trust me the subscription price is nothing for an entire year
<br>
it(Yearly subscription) will cost you ~200/Month (even less than a single pizza)</p>

      </div>
    </div>


</div>
