<div class="container founder-style mb-2 " id="founder">

    
   <h1 class="main-heading">founder</h1> 
   {{!-- <img src="images/kr.jpeg" alt="" width="400px" height="400px">  --}}


<img src="images/kr.jpeg" alt="" width="400px" height="400px" class="founder-img" style="align-items: center;"> 

<p>
<ul>
  <li>
    I love to make videos and apart from that I belive
  </li>
  <li>
    I love to share my knowledge and all the methods I followedwhile preparing fo NEET which got me into the college AIIMS
  </li>
</ul>

</p>

<div class="icon-style">
  <i class="fa-brands fa-instagram fa-2xl"></i>
  <i class="fa-brands fa-quora fa-2xl"></i>
  <i class="fa-brands fa-youtube fa-2xl"></i>
  <i class="fa-brands fa-linkedin fa-2xl"></i>
</div>
{{!-- <div class="container " id="founder">
    
    <div class="tab">
      <input type="radio" name="acc" id="acc8">
      <label for="acc8">
        <h2>01</h2>
        <h3>Personalised Mentorship by AIIMSONIANS</h3>
      </label>
      <div class="content">

<h3>Personalised Mentorship by AIIMSONIANS</h3>
            

</div>
</div> --}}
</div>