<div class="container-fluid mt-2 service-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto mt-2">
                 <h1 class="text-center main-heading">Courses</h1>
                <p class="text-center sub-heading">Success is yours</p>
                <div class="row ">
                
                {{!-- inside every last div of col-md-4 put the next card 
                example
                <div class="col-md-4">
                    ...

               <div class="col-md-4">
                </div>
 --}}

                   <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    {{!-- <img src="https://i.imgur.com/6NKPrhO.png" alt=""> --}}
                                </div>
                                    <h4>Mentorship</h4>
                                    <p>lorem*2</p>
                                </div>
                            </div>
                        </div>
                        
                 <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                    <h4>Mentorship</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                    <h4>Mentorship</h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>


                   

                    </div>


                </div>
</div>  
         </div> 
       <b><p class="center">(Yearly subscription) will cost you ~200/Month (even less than a single pizza)</p></b>  
             </div>         

                 